@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body {
    font-family: 'Raleway' , sans-serif;
    height: 100vh;
    background: #333 url('Imagenes/fondo.jpg');
    color: #ccc;

}

.mateo {
    width: 20%;
    height: auto;
    margin: 1em;
} 
  
.mateo2 {
    width: 15.2%;
    height: auto;
    margin: 1em;
}

.mateo3 {
    width: 15%;
    height: auto;
    margin: 1em;
}       

.mateo4 {
    width: 16.1%;
    height: auto;
    margin: 1em;
}

.mateo5 {
    width: 15%;
    height: auto;
    margin: 1em;
}

h1,h2 {
    font-weight: 200;
    margin: 0.4rem;
}   

h1 {
    font-size: 3.5rem;
    font-weight: 600;
}   

h2 {
    font-size: 2rem;
    color: #c9f4ec;
} 

a {
    font-weight: 600;
    margin: 0.4rem;
    color: rgb(255, 255, 255);
    
} 

hr {
    border: 0;
    border-top: 3px solid rgb(131, 73, 73);
}

footer{
    font-weight: 200;
    font-size: 1.5rem;
} 

